<div class="w-100" style="background-color: #F7E1AE;margin-top: 30px">
  <section id="clients" style=" margin-top: 20px" class="clients section-bg">
    <div class="container">


      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center d-flex flex-row">
          <div class="swiper-slide"><img src="../../../assets/img/client-1.png"
                                   style="width: 80%; height: 100%"     /></div>
          <div class="swiper-slide"><img src="../../../assets/img/client-2.png"   style="width: 80%; height: 100%"    class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/client-3.png"   style="width: 80%; height: 100%"   class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/client-4.png"   style="width: 80%; height: 100%"   class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/client-5.png"   style="width: 80%; height: 100%"   class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/client-6.png"   style="width: 80%; height: 100%"   class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/client-7.png"   style="width: 80%; height: 100%"   class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/client-8.png" style="width: 80%; height: 100%"   class="img-fluid" alt=""></div>
        </div>
+
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Clients Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><b>THENV</b></h3>
            <h4>Hàng hóa thủ công</h4>
            <p></p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Thông tin liên hệ</h4>
            <p>
              280 Trần Hưng Đạo <br>
              An Hải Tây, Sơn Trà, Đà Nẵng 550000<br>
              Việt Nam <br><br>
              <strong>Hotline:</strong> +84 905 123 678<br>
              <strong>Email: </strong>baidoxethongminhscp@gmail.com<br>
            </p>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liên kết</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i><a>Nhân viên</a></li>
              <li><i class="bx bx-chevron-right"></i><a>Khách hàng</a></li>

            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-links">
            <div class="d-flex m-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.208369635257!2d108.23017651407928!3d16.054673444094107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219d6d6355dfd%3A0xab74f1d886dbff0e!2zMjgwIMSQLiBUcuG6p24gSMawbmcgxJDhuqFvLCBBbiBI4bqjaSBC4bqvYywgU8ahbiBUcsOgLCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1679898498225!5m2!1svi!2s"
                      width="400" height="180" style="border:0;" allowfullscreen=""
                      loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"
                      style="margin-right: 20px"></iframe>
              <div class="social-links d-flex flex-column">
                <a class="twitter my-1"><i class="bx bxl-twitter"></i></a>
                <a class="facebook my-1"><i class="bx bxl-facebook"></i></a>
                <a class="instagram my-1"><i class="bx bxl-instagram"></i></a>
                <a class="google-plus my-1"><i class="bx bxl-skype"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>C0922G1</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a>C0922G1</a>
        <a href="#demo"><span><i class='bx bx-chevron-up-square bx-md'></i></span></a>
      </div>
    </div>
  </footer><!-- End Footer -->
</div>

