  <div class="row container-fluid " style="margin-top: 10px">
    <div class="col-xs-12 col-sm-6 col-md-3 ">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px"
               src="https://quantriwebviet.com/upload/news/lam-handmade-bang-giay-2785.jpg" class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>

        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px" src="https://cf.shopee.vn/file/64f8289836d967de7603a04579eb4782"
               class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>

        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px"
               src="https://quantriwebviet.com/upload/news/lam-handmade-bang-giay-2785.jpg"
               class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>

        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px" src="https://cf.shopee.vn/file/64f8289836d967de7603a04579eb4782"
               class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>

        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 ">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px"
               src="https://quantriwebviet.com/upload/news/lam-handmade-bang-giay-2785.jpg" class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px" src="https://cf.shopee.vn/file/64f8289836d967de7603a04579eb4782"
               class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px"
               src="https://quantriwebviet.com/upload/news/lam-handmade-bang-giay-2785.jpg"
               class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 50px">
        <div class="card-jfy-image row">
          <img height="288px" width="322px" src="https://cf.shopee.vn/file/64f8289836d967de7603a04579eb4782"
               class="card-img-top"
               alt="...">
        </div>
        <div class="row">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>

  </div>




