<div class="container ">
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-lg-5 col-md-5 mt-5">
    <div class="card mb-3">
      <img class="card-img img-fluid"
           src="https://www.cleanipedia.com/images/5iwkm8ckyw6v/4F7Ko9ZiDHvtMNTUCu7ySM/b83d1e2a1d34cb39a8832a5b36c5245f/cG9kZWxraV9pel9wcm9ib2tfb3RfcGxhc3Rpa292eWtoX2J1dHlsb2tfMzAuanBn/720w-540h/c%C3%A1ch-t%C3%A1i-ch%E1%BA%BF-n%E1%BA%AFp-chai-nh%E1%BB%B1a-th%C3%A0nh-%C4%91%E1%BB%93-ch%C6%A1i-cho-tr%E1%BA%BB.jpg"
           alt="Card image cap" id="product-detail">
    </div>
    <div class="row">
      <!--Start Controls-->
      <div class="col-1 align-self-center">
        <a href="#multi-item-example" role="button" data-bs-slide="prev">
          <i class="text-dark fas fa-chevron-left"></i>
          <span class="sr-only">Previous</span>
        </a>
      </div>
      <!--End Controls-->
      <!--Start Carousel Wrapper-->
      <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
        <!--Start Slides-->
        <div class="carousel-inner product-links-wap" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">
            <div class="row">
              <div class="col-4">
                <a href="#">
                  <img class="card-img img-fluid"
                       src="https://znews-photo.zingcdn.me/w660/Uploaded/neg_ofnwzyr/2018_09_19/c8_zing.jpg"
                       alt="Product Image 1">
                </a>
              </div>
              <div class="col-4">
                <a href="#">
                  <img class="card-img img-fluid"
                       src="https://znews-photo.zingcdn.me/w660/Uploaded/neg_ofnwzyr/2018_09_19/c12_zing_1.jpg"
                       alt="Product Image 2">
                </a>
              </div>
              <div class="col-4">
                <a href="#">
                  <img class="card-img img-fluid"
                       src="https://www.cleanipedia.com/images/5iwkm8ckyw6v/4F7Ko9ZiDHvtMNTUCu7ySM/b83d1e2a1d34cb39a8832a5b36c5245f/cG9kZWxraV9pel9wcm9ib2tfb3RfcGxhc3Rpa292eWtoX2J1dHlsb2tfMzAuanBn/720w-540h/c%C3%A1ch-t%C3%A1i-ch%E1%BA%BF-n%E1%BA%AFp-chai-nh%E1%BB%B1a-th%C3%A0nh-%C4%91%E1%BB%93-ch%C6%A1i-cho-tr%E1%BA%BB.jpg"
                       alt="Product Image 3">
                </a>
              </div>
            </div>
          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">
            <div class="row">
              <div class="col-4">
                <a href="#">
                  <img class="card-img img-fluid"
                       src="https://znews-photo.zingcdn.me/w660/Uploaded/neg_ofnwzyr/2018_09_19/c8_zing.jpg"
                       alt="Product Image 1">
                </a>
              </div>
              <div class="col-4">
                <a href="#">
                  <img class="card-img img-fluid"
                       src="https://znews-photo.zingcdn.me/w660/Uploaded/neg_ofnwzyr/2018_09_19/c12_zing_1.jpg"
                       alt="Product Image 2">
                </a>
              </div>
              <div class="col-4">
                <a href="#">
                  <img class="card-img img-fluid"
                       src="https://www.cleanipedia.com/images/5iwkm8ckyw6v/4F7Ko9ZiDHvtMNTUCu7ySM/b83d1e2a1d34cb39a8832a5b36c5245f/cG9kZWxraV9pel9wcm9ib2tfb3RfcGxhc3Rpa292eWtoX2J1dHlsb2tfMzAuanBn/720w-540h/c%C3%A1ch-t%C3%A1i-ch%E1%BA%BF-n%E1%BA%AFp-chai-nh%E1%BB%B1a-th%C3%A0nh-%C4%91%E1%BB%93-ch%C6%A1i-cho-tr%E1%BA%BB.jpg"
                       alt="Product Image 3">
                </a>
              </div>
            </div>
          </div>
          <!--/.Second slide-->

        </div>
        <!--End Slides-->
      </div>
      <!--End Carousel Wrapper-->
      <!--Start Controls-->
      <div class="col-1 align-self-center">
        <a href="#multi-item-example" role="button" data-bs-slide="next">
          <i class="text-dark fas fa-chevron-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!--End Controls-->
    </div>
  </div>


  <div class="card-body col-md-5">
    <div>
      <h1> Tranh làm bằng chai nhựa</h1>
      <hr>
      <p>Đã bán : <span>19k </span></p>
    </div>
    <div>
      <h2 style="color: red"><b>Giá :</b> 10000VND</h2>
      <p><b> Vận Chuyển :</b><span> Trong tỉnh thành Đà Nẵng</span></p>
      <p><b>Mô tả:</b> <span> Các biện pháp tái sử dụng hoặc tái chế chai nhựa được xem là cách hữu hiệu giúp bảo vệ môi trường sống xanh sạch.
        Nếu đang có sẵn vài chai nhựa trong nhà mà chưa biết nên làm gì với chúng, bạn có thể tham khảo các ý tưởng tái chế sau</span>
      </p>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <span style="margin-right: 5px"> <b>Số lượng</b>  </span>
      <button type="button" class="btn btn-outline-primary ">-</button>
      <button type="button" class="btn btn-outline-primary ">1</button>
      <button type="button" class="btn btn-outline-primary ">+</button>
      <span style="margin-left: 5px">Sản phẩm có sẵn 100k</span>
      <br>
    </div>

    <div style="margin-top: 10px">
      <button class="btn btn-warning"> Thêm Vào Giỏ Hàng</button>
      <button style="margin-left:4px " class="btn btn-warning">Mua Ngay</button>
    </div>
  </div>
  <div class="col-1"></div>
</div>
</div>
