<div class="container-fluid row" style="margin-top: 10px">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let p of products">
    <div class="card-jfy-item bg-light" style="width: 18rem;margin-top: 10px;margin-left: 30px">
      <div class="card-jfy-image row">
        <img height="210px" width="300px"
             [src]="p.img.img" class="card-img-top"
             alt="...">
      </div>
      <div class="row  " style="margin: 1px 1px 1px 1px">
          <p class="card-title">{{p.product.name.length> 30 ?( p.product.name | slice:0:30 )+ '...': p.product.name }}</p>

      <p style="color: red;" >Giá sản phẩm :  <span   class="card-text">{{p.product.prices | number:'1.0-0' }}</span>Đ</p>
        <a  class="btn btn-primary" routerLink="/product/detail/{{p.product.id}}"> Xem chi tiết</a>
      </div>

    </div>
  </div>
</div>
<div class="d-flex justify-content-center " style="margin-top: 20px">
  <button class="btn btn-outline-success" *ngIf="pageCount!= 1" (click)="more()">Xem Thêm</button>
<!--  <button class="btn btn-outline-success" (click)="first()">-->
<!--    Trang Đầu-->
<!--  </button>-->
<!--  <button class="btn btn-outline-success"  (click)="previous()"  [style.display]=" page==0 ? 'none': 'block'">{{page}}</button>-->
<!--  <button class="btn btn-success" >{{page+1}}</button>-->
<!--  <button class="btn btn-outline-success" (click)="next()" [style.display]=" page==pageCount-1 ? 'none': 'block'">{{page+2}}</button>-->
<!--  <button class="btn btn-outline-success" (click)="last()">-->
<!--    Trang  Cuối-->
<!--  </button>-->
</div>
