<!--<div class="d-flex justify-content-center" style="background-color: #f3e0d7" id="login">-->
<!--  <section class="form-login text-center text-lg-start" style="padding:7% 10%">-->
<!--    <div class="card mb-3" style=" box-shadow: 0 0 20px 0 #253365">-->
<!--      <div class="row g-0 d-flex align-items-center">-->
<!--        <div class="col-lg-6 d-none d-lg-flex">-->
<!--          <img src="assets/img/security-authentication/login.png"-->
<!--               class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"/>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <div class="card-body py-5 px-md-5">-->
<!--            <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--              <h1 style="text-align: center; margin-bottom: 5%">Đăng nhập</h1>-->
<!--              <div class="form-outline mb-4">-->
<!--                <input type="email" id="form2Example1" autofocus formControlName="username" class="form-control"-->
<!--                       placeholder="Tài khoản email"/>-->
<!--                <p class="error"-->
<!--                   *ngIf="loginForm.controls.username?.errors?.required && loginForm.controls.username?.touched">Xin vui-->
<!--                  lòng nhập địa chỉ email.</p>-->
<!--                <p class="error"-->
<!--                   *ngIf="loginForm.controls.username?.errors?.email && loginForm.controls.username?.touched">Địa chỉ-->
<!--                  email không đúng định dạng.</p>-->
<!--              </div>-->
<!--              <div class="form-outline mb-4">-->
<!--                <input type="password" id="form2Example2" formControlName="password" class="form-control"-->
<!--                       placeholder="Mật khẩu"/>-->
<!--                <p class="error"-->
<!--                   *ngIf="loginForm.controls.password?.errors?.required && loginForm.controls.password?.touched">Xin vui-->
<!--                  lòng nhập mật khẩu.</p>-->
<!--              </div>-->

<!--              <div class="row mb-4">-->
<!--                <div class="col d-flex justify-content-center">-->
<!--                  <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"-->
<!--                           formControlName="rememberMe"/>-->
<!--                    <label class="form-check-label" for="form2Example31">Ghi nhớ đăng nhập</label>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col">-->
<!--                  <a routerLink="/security/forgot-password">Quên mật khẩu?</a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col d-flex justify-content-center">-->
<!--                <button type="submit" class="btn btn-block vw-100" style="background-color: darkorange">Đăng nhập-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="d-flex justify-content-center my-3">-->
<!--                <div class="d-flex justify-content-between" style="width: 40%">-->
<!--                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"-->
<!--                       class="bi bi-facebook" viewBox="0 0 16 16">-->
<!--                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>-->
<!--                  </svg>-->
<!--                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"-->
<!--                       class="bi bi-twitter" viewBox="0 0 16 16">-->
<!--                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>-->
<!--                  </svg>-->
<!--                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"-->
<!--                       class="bi bi-google" viewBox="0 0 16 16">-->
<!--                    <path-->
<!--                      d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>-->
<!--                  </svg>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->
<!--            <div class="col d-flex justify-content-center">-->
<!--              <p class="mb-0">Bạn chưa có tài khoản? <a href="#!">Đăng ký</a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->


<!-- LOGIN MODULE -->
<div class="login">
  <div class="wrap">
    <div class="content">
      <div class="logo">
        <a href="#"><img src="http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/logo.png" alt=""></a>
      </div>
      <div id="slideshow">
        <div class="one">
          <h2><span>XIN CHÀO</span></h2>
          <p style="text-align: center">Đăng kí để có trải nghiệm tốt hơn</p>
        </div>
      </div>
    </div>

    <div class="user">
      <div class="form-wrap">
        <div class="tabs">
          <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Đăng nhập</span></a></h3>
        </div>
        <div class="tabs-content">
          <div id="login-tab-content" class="active">
            <form class="login-form" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div class="form-outline mb-4">
                <input type="email" id="form2Example1" autofocus formControlName="username" class="input"
                       placeholder="Tài khoản email"/>
                <p class="error" *ngIf="loginForm.controls.username?.errors?.required && loginForm.controls.username?.touched">Xin vui lòng nhập địa chỉ email.</p>
                <p class="error" *ngIf="loginForm.controls.username?.errors?.email && loginForm.controls.username?.touched">Địa chỉ email không đúng định dạng.</p>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="form2Example2" formControlName="password"class="input"
                       placeholder="Mật khẩu"/>
                <p class="error" *ngIf="loginForm.controls.password?.errors?.required && loginForm.controls.password?.touched">Xin vui lòng nhập mật khẩu.</p>
              </div>
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                           formControlName="rememberMe"/>
                    <label >Remember me</label>
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-block vw-100" style="background-color: darkorange">Đăng nhập</button>
              </div>
            </form>

            <div class="help-action">
              <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="forgot" href="#">
                Quên mật khẩu?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
