<div id="error-page" class="error-container" [hidden]="isLoggedIn">
  <h1>Lỗi!</h1>
  <p>Đường dẫn này hiện đang hạn chế quyền truy cập.</p>
  <p>Xin vui lòng thử lại sau.</p>
  <button class="btn btn-primary" routerLink="/">Trở về trang chủ</button>
</div>
<div class="error-container" [hidden]="!isLoggedIn">
  <h1>Lỗi!</h1>
  <p>Đường dẫn này hiện đang hạn chế quyền truy cập.</p>
  <p>Xin vui lòng thử lại sau.</p>
  <button class="btn btn-primary" routerLink="/">Trở về trang chủ</button>
</div>
